
.idea/
__pycache__/
*.pyc


# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.app/external/outputs
app/external/outputs/

.app/log_status/log_status.json
app/log_status/log_status.json

.app/loggs/application-log.log
app/loggs/application-log.log

.vscode/
.mypy_cache/
